.login-wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 180px;
    margin-bottom: 200px;
    align-items: center;
    }
  
    .login-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    }
  
    .navigation-container {
    width: 100%;
    margin-bottom: 40px;
    }
  
    .tab-navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    }
  
    .tab {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #3B3857;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    white-space: nowrap; 
    }
  
    .tab:hover,
    .tab.active,
    .tab:visited,
    .tab:link {
    color: #3B3857 !important;
    text-decoration: none;
    }
  
    .tab:hover {
    color: #3B3857;
    font-weight: 600;
    }
  
    .tab.active {
    color: #3B3857;
    font-weight: 600;
    }
  
    .nav-border {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #000, #000);
    }
  
    .content-container {
    display: flex;
    flex-direction: column;
    gap: 34px;
    }
  
    .description {
    margin-bottom: 20px;
    }
  
    .description h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    color: #3B3857;
    }
  
    .description p {
    font-family: 'Pretendard', sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #3B3857;
    margin-bottom: 10px;
    }
  
    .login-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 140px;
    box-shadow: 0 0 20px #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
    }
  
    .login-box:hover {
    color: #3B3857;
    }
  
    .login-box h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin-bottom: 40px;
    color: #3B3857;
    }
  
    .input-container {
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    }
  
    .input-container input {
    color: #3B3857;
    }
  
    .input-container input[type="text"],
    .input-container input[type="password"] {
    width: 400px;
    height: 48px;
    border: 1px solid #C6C6C6;
    border-radius: 5px;
    padding: 0 16px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #3B3857 !important;
    }
  
    .password-input {
    position: relative;
    }
  
    .input-container input::placeholder {
    color: #c8c8c8;
    }
  
    .input-container input.filled {
    border-color: #3B3857;
    }
  
    .input-container input:focus {
    border-color: #3B3857;
    outline: none;
    }
  
    .eye-button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    }
  
    .login-button {
    width: 436px;
    height: 48px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
    }
  
    .login-button.active {
    background-color: #3B3857;
    cursor: pointer;
    }
  
    .auto-login {
    display: flex;
    align-items: center;
    gap: 8px;
    }
  
    .auto-login .custom-checkbox {
    cursor: pointer;
    display: flex;
    }
  
    .auto-login .custom-checkbox img {
    width: 24px;
    height: 24px;
    }
  
    .auto-login label {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #3B3857;
    font-weight: 400;
    }
  
    .auto-login input[type="checkbox"] {
    display: none;
    }
  
    .social-section {
    margin-top: 30px;
    width: 370px;
    align-self: center;
    text-align: center;
    }
  
    .social-divider {
    position: relative;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-bottom: 20px;
    }
  
    .social-divider::before,
    .social-divider::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100px;
    height: 1px;
    background-color: #000;
    }
  
    .social-divider::before {
    left: 0;
    }
  
    .social-divider::after {
    right: 0;
    }
  
    .social-buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    }
  
    .social-buttons button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    transition: transform 0.2s;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  
    .social-buttons button:hover {
    transform: scale(1.1);
    }
  
    .social-buttons img {
    width: 60px;
    height: 60px;
    }